@import url("https://use.typekit.net/lxh1tfz.css");

@font-face {
    font-family: nzz-sans-serif;
    src: local("nzz-sans-serif"), url("https://assets.static-nzz.ch/nzz/app/static/fonts/gt-america-standard-medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: nzz-serif;
    src: local("nzz-serif"), url("https://assets.static-nzz.ch/nzz/app/static/fonts/pensumpro-medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: GT America;
    src: url("https://uploads-ssl.webflow.com/5d11aab596e640fb3d8cf53f/5d37dd43f1f7ed1e4c774a7d_GT-America-Standard-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: GT America;
    src: url("https://uploads-ssl.webflow.com/5d11aab596e640fb3d8cf53f/5d37dd54062c9331676b6b60_GT-America-Standard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* @font-face {
    font-family: Univers;
    src: url("https://www.kesterblack.com/assets/fonts/36B68B_0_0.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Univers;
    src: url("https://www.kesterblack.com/assets/fonts/36B68B_1_0.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
} */

body {
    --panel-width: 242px;
    --panel-height: 110px;
    --background-color: #f3efef;
    --main-text-color: #242424;
    --main-red: #906c6c;
    background-color: var(--background-color);
}

.wrapper {
    width: 75%;
    margin: auto;
}

.tab-content {
    background-color: #f9f7f7;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
}

.card-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(var(--panel-height), 1fr));
    column-gap: 5px;
    gap: 10px;
    /* align-items: stretch;
    justify-content: space-between; */
}

.card-panel {
    display: flex;
    background-color: white;
    min-width: var(--panel-width);
    width: 100%;
    height: var(--panel-height);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgba(179, 179, 179, 0.2);
    align-items: center;
    justify-content: space-between;
    transition: all .3s linear;
    cursor: pointer;
}

.card-panel:hover {
    box-shadow: 0 0 20px 5px rgba(179, 179, 179, 0.4);
}

.poster {
    height: var(--panel-height);
}

.film-details {
    padding: 5px;
    width: -webkit-fill-available;
    width: 100%;
}

.film-details > ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
}

.film-details > ul > li {
    display: inline-block;
}

.dropdown-container {
    margin: 5px 0;
    display: block
}

h1 {
    font-family: /*Univers, */GT America, sofia-pro, neue-haas-unica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    color: var(--main-text-color);
    margin: 2px;
}

.chart-title {
    font-size: 16px;
    margin: 10px 0;
}

p,
li, 
select,
button,
label {
    font-family: /*nzz-sans-serif, Univers, */GT America, sofia-pro, neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text-color);
    font-size: 12px;
}

label {
    display: inline-block;
    text-align: right;
    width: 90px;
}

p {
    margin: 2px;
}

.year,
.axis text {
    font-family: nzz-sans-serif, sofia-pro, neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--main-text-color);
    font-size: 12px;
}

.axis text {
    font-weight: 400;
}

select {
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 1px 1px rgba(179, 179, 179, 0.2);
    background-color: white;
    padding: 5px;
}

select:hover,
select:focus {
    outline: none;
}

button {
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 1px 1px rgba(179, 179, 179, 0.2);
    background-color: white;
    padding: 3px 5px;
    cursor: pointer;
}

.des:after {
    content: "▼";
    font-size: 10px;
}

.asc:after {
    content: "⯅";
    font-size: 10px;
}

.year-tooltip {
    position: absolute;
    opacity: 0;
    padding: 0.6em 1em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(179, 179, 179, 0.2);
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
    text-align: center;
}

.year-tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.chart-tooltip {
    position: absolute;
    opacity: 0;
    padding: 0.6em 1em;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(179, 179, 179, 0.2);
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
    pointer-events: none;
    transition: all 0.2s ease-out;
}

.tab-button {
    border: none;
    outline: none;
    float: left;
    font-size: 16px;
    padding: 5px 7px;
    background-color: #f9f7f7;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}

.inactive {
    background-color: var(--background-color);
}

.tab-button:first-child {
    border-radius: 5px 0 0 0;
}

.tab-button:nth-child(2) {
    border-radius: 0 5px 0 0;
}

/* .chart-container {
    position: relative;
} */

.tooltip {
    position: absolute;
    opacity: 0;
    top: -12px;
    left: 0;
    /* padding: 0.6em 1em; */
    background: #fff;
    box-shadow: 0 6px 8px rgba(52, 73, 94, .2), 0 1px 1px rgba(52, 73, 94, 0.1);
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    height: 345px;
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}

.tooltip:hover {
    cursor: none;
}

.tooltip-film-details {
    height: 345px;
    padding: 10px 5px;
}

.tooltip-poster {
    display: block;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}

.tooltip-summary {
    overflow: hidden;
}

.tooltip-summary > p {
    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;  
}

.axis path,
.axis line {
    fill: none;
    stroke: #ddd2d2;
    shape-rendering: crispEdges;
}

.bans {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 50px 0;
}

.bans > * {
    text-align: center;
}

.call-out {
    margin: 20px 0;
}

.call-out::before {
    content: "▶ ";
    color: var(--main-red);
}

rect {
    fill: var(--main-red);
}

.hovered {
    fill: #6c7e90;
}

.overlay {
    fill: none;
    pointer-events: all;
}

text.ban {
    font-family: GT America, sofia-pro, neue-haas-unica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: var(--main-red);
    font-variant-numeric: oldstyle-nums;
}

@media only screen and (max-width: 1360px) {
    .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, minmax(var(--panel-height), 1fr));
    }
}

@media only screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(2, minmax(var(--panel-height), 1fr));
    }
}

@media only screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
